# Project dependencies
.yarn
.cache
*.pyc
node_modules
yarn-error.log

# Build directory
/build
/dist
.DS_Store
.sass-cache/
_posts/
_site/

.mypy_cache

/.vscode
.idea

config.yaml
.venv/
.pdm-python

route.png
route.svg

node_modules/
FIT_OUT/
assets/

.idea/
/run_page/data.db
/imported.json
/synced_activity.json
/generated_activity.json
